registry=https://registry.npmjs.org/
@affine:registry=https://registry.npmjs.org/
@blocksuite:registry=https://registry.npmjs.org/
@toeverything:registry=https://registry.npmjs.org/
engine-strict=true
